#title{
	color: lawngreen;
	font-weight: bold;
}

#header {
	background-color: blueviolet;
}

body{
	background-color: #DBF9FC;
	font-family: "Times New Roman", Times, serif;
	margin: 0px;
}

.puzzle {
    max-width: 80px;
    max-height: 80px;
}

.object {
	margin: 0;
	font-size: 150%;
	text-align: center;
	border: 3px solid #f44336;
	display: inline-block;
    padding: 8px 16px;
}

.buttons {
	font-size: 150%;
    padding: 8px 16px;
}

button {
	background-color: #4CAF50;
	border: 3px solid #f44336;
	font-size: 150%;
	padding: 8px 16px;
}

button:hover, button:active {
	background-color: red;
	border: 3px solid #4CAF50;
	color: purple;
}

.img-char {
    width: 120px;          
    height: auto;
    aspect-ratio: 1;
    object-fit: contain;
    display: block;
}

#reset_button, #end_button, #combined {
    display: none;
}

#bgm{
	display: none;
}
