#title{
    margin: 0;
	color: lawngreen;
	background: blueviolet;
	padding-bottom: 5px;
	padding-left: 117px;
	font-weight: bold;
  	text-align: center;
	font-size: 65px;
}

body{
	background-color: #DBF9FC;
}

#cursor{
	position: absolute;
	margin: 0;
	opacity: 0;
}

#combined{
	position: absolute;
	margin: 0;
	opacity: 0;
}

.object{
	margin: 0;
	width: 240px;
	font-size: 40px;
  	text-align: center;
	border: 3px solid #f44336;
}

#start_grid {
	height: 490px;
	width: 490px;
	margin: 0;
	position: absolute;
	border: 3px solid #f44336;
	background-color: grey;
}

#center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 33%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

button{
	background-color: #4CAF50;
	border: 3px solid #f44336;
	font-size: 24px;
	padding: 16px 32px;
}

#puzzle_piece{
	margin: 0;
	position: absolute;
}

#puzzle_piece2{
	position: relative;
	float: right;
}

.rules{
	font-size: 24px;
	border: 3px solid #f44336;
	padding-left: 10px;
	padding-bottom: 5px;
	width: 700px;
}

#bgm{
	display: none;
}
